@model List<VistaDepartamento>
@{
    int numRegistros = (int) ViewData["ULTIMO"];
    int numPagina = (int) ViewData["NUMPAGINA"];
}
<h1>Paginacion en grupo</h1>
@for (int i = 1; i <= numRegistros; i += 2)
{
    int posicion = ((i - 1) * 2) + 1;
    if (i % 2 == 0)
    {
        <a asp-controller="Paginacion" asp-action="GrupoVistaDepartamentos" asp-route-posicion="@posicion" 
        class="btn btn-primary">Página @i</a>
    }
    else
    {
        <a asp-controller="Paginacion" asp-action="GrupoVistaDepartamentos" asp-route-posicion="@posicion" 
        class="btn btn-secondary">Página @i</a>
    }
}
<hr />
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Posicion</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departamento in Model)
        {
            <tr>
                <td>@departamento.Posicion</td>
                <td>@departamento.IdDepartamento</td>
                <td>@departamento.Nombre</td>
                <td>@departamento.Localidad</td>
            </tr>
        }
    </tbody>
</table>