@model List<Departamento>
@{
    int numRegistros = (int)ViewData["REGISTROS"];
    int numPagina = 1;
}
<h1>Paginacion en grupo</h1>
@for (int i = 1; i <= numRegistros; i += 2)
{
    <a asp-controller="Paginacion" asp-action="GrupoDepartamentos" asp-route-posicion="@i"
       class="btn btn-success">Página @numPagina</a>
    numPagina++;
}
<hr />
<hr />
<table class="table table-striped table-success">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departamento in Model)
        {
            <tr>
                <td>@departamento.IdDepartamento</td>
                <td>@departamento.Nombre</td>
                <td>@departamento.Localidad</td>
            </tr>
        }
    </tbody>
</table>